<form action="/fbasics/<%= params[:id] %>" method="post" accept-charset="UTF-8">
  <input type='text' value='<%= @fbasic.name %>' name='fbasic[name]' />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="utf8" value="&#x2713" />
  <input type="hidden" name="_method" value="patch" />
  <input type='submit' value="Update Fbasic" name='commit' />
</form>